div{
    margin: 10px;
    font-size: 20px;
    height: 80px;
}
nav {
    float: right;
  }
ul {
    margin: 0;
    padding: 0;
    list-style: none; 
  }
li {
    display: inline-block; 
  }

.cap {
    background-color: white;
    width: 870px;
    margin: 0 auto;
  }
.logo {
    float: left;
    padding-top: 30px;
    margin-right: 70px;
    width: 70px;
  }
.menu {
  display: flex;
  }
.menu li {
  margin-right: 40px;
  padding-top: 30px;
  }

#left {
  background-color: #c8c8c8;
  width: 350px;
  height: 1000px;
  float: left;
}
#right {
  background-color: #c8c8c8;
  width: 350px;
  height: 1000px;
  float: right;
}

.img{
  width: 500px;
  height: 300px;
  display: block;
  margin: 0 auto;
}
